
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  display: none;
}

:root{
  --blue-- : #2685C9;
  --bluegray-- :#146096;
  --graytrans-- : #83888b68;
  --transgray-- : #86a9d171;
  --blue2-- : #84A7CD;
  --blue3-- : #9FBEDB;
  --blue4-- : rgba(65, 136, 198, 0.39);
  --blackborder-- : rgba(65, 136, 198, 0.08);
  --blue5-- : #D9F6FA;
  --backgrop-- : rgba(0, 0, 0, 0.44);
}

.banner{
  @apply bg-[--blue--] h-[43px] text-center text-white my-2 w-[100%] flex justify-center items-center cursor-pointer transition duration-200 hover:bg-[--bluegray--]
}
li {
  @apply cursor-pointer font-bold text-gray-500 border-black transition-all duration-200 transform hover:border-b hover:text-black;
}

.slider{
  background-image: url(/assets/Slider/banner.svg);
  background-size: cover;

  @apply h-[400px] w-full flex justify-start p-4 items-center;
}
.slider-container{
  @apply my-10
}
.slider-inner{
  background-image: url(/assets/Slider/sa.svg);
  background-size: 165% 100%;
  @apply transition transform duration-200 cursor-pointer hover:scale-105;
} 

.heading{
  font-family: "Frank Ruhl Libre", serif;
}

.logo-head {
  font-family: "Style Script", cursive;
  font-weight: 400;
  font-style: normal;
 @apply text-5xl
}


.closet{
  @apply flex justify-evenly w-full my-10
}

.btn-action{
  @apply bg-[--transgray--] text-white backdrop-blur-2xl p-4 border border-blue-400 rounded-full -translate-y-24 w-[280px] h-[55px] flex justify-center items-center font-bold transition duration-300 hover:scale-105 ;
}
.blur-blue-bg{
 
  @apply shadow-custom-blur rounded-lg bg-gradient-to-r from-[--blue2--] to-[--blue3--] w-[100vw]
}

.web-stats{
  clip-path: polygon(0% 0%, 10% 50%, 0% 100%, 100% 100%, 100% 0%);

  @apply border bg-white z-0 border-black h-[150px] w-[800px] -translate-x-[20vw] my-16 flex justify-evenly items-center shadow-2xl;
}
.inner-crousel{
  @apply flex justify-center items-center z-20
}
.main-crousel{
  @apply flex flex-col justify-evenly z-20  
}



.productCard{
  @apply flex w-[375px] h-[525px] flex-col m-10
}
.productCard img{
 @apply w-[375px] h-[375px]
}

.rating{
  @apply w-[80px] flex justify-evenly items-center

}
.rating img{
  @apply w-[10px] h-[10px]
}
.productInfo{
  background: linear-gradient(253deg, #2B8ECF 38.07%, rgba(87, 163, 213, 0.00) 90.98%);
  @apply w-[375px] h-[150px] p-4 font-bold font-frankhl text-[16px] flex flex-col justify-evenly text-white;
  
}

.crousel-btn{
  @apply w-[25vw] flex justify-start
}
.crousel-inner-btn img{
  @apply w-[300px] h-[100px] 
}

.crousel-inner-btn {
  @apply w-[50%] flex justify-start
}

.left-card,.right-card{
  @apply w-[675px] h-[500px] rounded-2xl font-lato p-4 flex flex-col justify-evenly items-center text-center;
}
.left-card{
  @apply bg-[--blue4--] backdrop-blur-lg border border-[--blackborder--]
}
.right-card{
  @apply bg-[--blue5--]
}

.about-slides{
  @apply flex justify-between w-[100%] h-[60vh]
}

.about-slides img{
  @apply w-[289px] h-[289px] translate-x-[100vw]
}

.contact-us{
  @apply bg-[#0A84FF] rounded-3xl p-4 w-[185px] h-[45px] flex items-center justify-center text-white transition duration-300 hover:scale-110
}

.social-banner{
  @apply flex w-[25%] justify-evenly items-center
}
.social-banner img{
  @apply shadow-2xl rounded-full w-[50px] h-[50px] transition duration-300 hover:scale-110
}

.footer-design{
  @apply w-full h-[10vh] flex flex-col
}
.footer-design img{
  @apply absolute w-full
}


footer{
  @apply flex flex-col justify-evenly items-start w-full h-[80vh] text-center
}

.backdrop-container{
  @apply bg-[--backdrop--] w-[30vw]
}