@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
:root{
  --blue-- : #2685C9;
  --bluegray-- :#146096;
  --graytrans-- : #83888b68;
}

.banner{
  @apply bg-[--blue--] h-[43px] text-center text-white my-2 w-[100%] flex justify-center items-center cursor-pointer transition duration-200 hover:bg-[--bluegray--]
}
li {
  @apply cursor-pointer font-bold text-gray-500 border-black transition-all duration-200 transform hover:border-b hover:text-black;
}

.slider{
  background-image: url(../public/assets/Slider/banner1.png);
  background-size: 100% 100%;

  @apply h-[400px] w-full flex justify-start p-4 my-10 items-center;
}

.slider-inner{
  background-image: url(../public/assets/Slider/slider-inner.png);
  background-size: 165% 100%;
  @apply transition transform duration-200 cursor-pointer hover:scale-105;
} 